<template>
  <div>
    <the-topbar :blocks="fake"></the-topbar>
    <section class="view view-videos">
      <the-section
        :title="this.blocks[0].parameters.title"
        :content="this.blocks[1].parameters.content"
      ></the-section>
      <media-text
        :media="this.blocks[2].collection_items[0].fields.file.secure_url"
        :type="this.blocks[2].collection_items[0].fields.file.media_type"
        :format="this.blocks[2].collection_items[0].fields.file.meta_data.format"
        :content="this.blocks[2].collection_items[0].fields.description.content" 
        :captions="this.blocks[2].collection_items[0].fields.captions.secure_url" 
      ></media-text>
      <separator
        :type="'line'"
        :classes="'c-separator__line'">
      </separator>
      <the-section
        :title="this.blocks[3].parameters.title"
        :content="this.blocks[4].parameters.content"></the-section>
      <grid
        :blocks="this.blocks[5].collection_items"
        :columns="5"
        :classes="'videos'"
      >
          <template slot-scope="slotProps">
            <base-button
              :classes="'class-for-this-button-yo'"
              @click.native="openModal({
                title: slotProps.block.fields.title.text,
                content: slotProps.block.fields.header.content,
                media: slotProps.block.fields.file.url,
                format: slotProps.block.fields.file.meta_data.format,
                captions: slotProps.block.fields.captions.secure_url,
                mediaType: slotProps.block.fields.file.media_type,
                mediaContent: slotProps.block.fields.description.content,
              })"
            >
              <img :src="slotProps.block.fields.featured_image.url" alt="">
              {{ slotProps.block.fields.title.text }}
            </base-button>
          </template>
      </grid>

      <the-modal></the-modal>
    </section> 
    <the-footer></the-footer>
  </div>
</template>

<script>
import { baseUrl, baseNode } from '~/api'
import TheTopbar from '~/components/TheTopbar.vue'
import TheFooter from '~/components/TheFooter.vue'
import Banner from '~/components/Banner.vue'
import Grid from '~/components/Grid.vue'
import TheModal from '~/components/TheModal.vue'
import MediaText from '~/components/MediaText.vue'
import TheSection from '~/components/Section.vue'
import Separator from '~/components/Separator.vue'
import BaseButton from '~/components/BaseButton.vue'

export default {
  data() {
    return {
      fake: [
        { title: 'Timeline', url: '/bm/timeline', inactive: true },
        { title: 'VR', url: '/bm/' },
        { title: 'Videos', url: '/bm/videos' },
        { title: 'Exercises', url: '/bm/', inactive: true },
        { title: 'A1', url: '/bm/A1/', inactive: true }
      ],
    };
  },
  components: {
    'the-topbar': TheTopbar,
    'the-footer': TheFooter,
    banner: Banner,
    grid: Grid,
    'the-modal': TheModal,
    'the-section': TheSection,
    'media-text': MediaText,
    separator: Separator,
    'base-button': BaseButton
  },

  methods: {
    openModal(params) {
      console.log('modal params: ', params);
      this.$modal.show('video', params, {
        width: 300,
        height: 300
      });
    }
  },

  async asyncData({ app, params }) {
    const data = await app.$axios.$get(`${baseUrl}/${baseNode}Video`);
    return {
      blocks: data.main,
    };
  }
};
</script>