<template>
  <div>
    <the-topbar :blocks="fake"></the-topbar>
    <section class="view view-exercise">

        <h1>
          {{exercise.title.text}}
        </h1>

        <article v-html="exercise.body.content"></article>

        <aside v-if="exercise.aside" v-html="exercise.aside.content"></aside>

        <nuxt-link :to="`/${$route.params.lang}/oppgaver/#${$route.params.folder}`" class="back">
          Tilbake
        </nuxt-link>

    </section>
    <the-footer></the-footer>
  </div>
</template>

<script>
import { baseTree, baseNode } from '~/api'
import TheTopbar from '~/components/TheTopbar.vue'
import TheFooter from '~/components/TheFooter.vue'

export default {
  data() {
    return {
      fake: []
    }
  },
  components: {
    'the-topbar': TheTopbar,
    'the-footer': TheFooter,
  },

  mounted() {
    console.log(this.exercise);
  },

  async asyncData({ app, params }) {
    const data = await app.$axios.$get(`${baseTree}/${baseNode}children?depth=10&fields=title,body,aside`)

    return {
      exercise: data[1].children[params.folder - 1].children[params.exercise - 1].fields
    }
  }
}
</script>


