<template>
  <div>
    <the-topbar :blocks="fake"></the-topbar>
    <section class="view view-exercises">

        <nav :class="`active-${active}`">
          <div class="container" role="tablist">
            <b-card no-body class="mb-1" v-for="(folder, f) in folders" :key="folder.id">
              <b-card-header role="tab" header-tag="header" class="p-1">
                <b-btn class="acoordion-button" block href="#" v-b-toggle="`accordion${f+1}`" variant="info">
                  <h2>{{f + 1}}. {{ folder.fields.title.text }}</h2>
                </b-btn>
              </b-card-header> 
              <b-collapse :visible="f+1 == active ? true : false" :id="`accordion${f+1}`" accordion="my-accordion" role="tabpanel">
                <b-card-body class="list-of-items">
                  <div class="card-text items" v-for="(exercise, e) in folder.children" :key="exercise.id">
                    <nuxt-link class="item-link" :to="`/bm/oppgaver/${f + 1}/${e + 1}`">
                      {{ exercise.fields.title.text }}
                    </nuxt-link>
                  </div>
                </b-card-body>
              </b-collapse>
            </b-card>
          </div>
        </nav>
    </section>
    <the-footer></the-footer>
  </div>
</template>

<script>
import { baseTree, baseNode } from "~/api";
import TheTopbar from "~/components/TheTopbar.vue";
import TheFooter from "~/components/TheFooter.vue";

export default {
  data() {
    return {
      active: 1,
      fake: []
    };
  },
  components: {
    "the-topbar": TheTopbar,
    "the-footer": TheFooter
  },
  mounted() {
    this.active = parseInt( this.$route.hash.substr(1) ) || 1;
  },
  async asyncData({ app, params }) {
    const data = await app.$axios.$get(
      `${baseTree}/${baseNode}children?depth=10&fields=title`
    );
    return {
      folders: data[1].children
    };
  }
};
</script>
