<template>
  <div>
    <the-topbar :blocks="fake"></the-topbar>
      <section>
        <div>Automatisering 2</div>
      </section>
    <the-footer></the-footer>
  </div>
</template>

<script>
import { baseUrl, baseNode } from '~/api'
import TheTopbar from '~/components/TheTopbar.vue'
import TheFooter from '~/components/TheFooter.vue'

export default {
    data() {
      return { }
    },

  components: {
    'the-topbar': TheTopbar,
    'the-footer': TheFooter,
  },
};
</script>
