/*styles*/

.view.view-exercise {
    max-width: 900px;
    padding: 0;
    margin-top:3em;
    font-size: 1.3em;

    .back {
        display: block;
        width: 8em;
        text-align: center;
        padding: 0.1em;
        background-color: #f78729;
        border-radius: 20px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin: 2em auto;
    }

    > h1 {
        text-align: center;
    }

    > article {
        
        > .statistics {
            margin-top: 2em;
            
            >.statistics-pictures {
                display: flex;
                flex-direction: row;
            }
        }    
        > .box_pic {
            margin-top: 2em;
            display: flex;
            align-items: center;
        }
        > .beside {
                margin-top: 3em;
                display: flex;
                flex-wrap:wrap;
                max-width: 900px;
                align-items: flex-end;
                justify-content: space-between;
                .image-medium {
                    flex-basis: 48%;
                    margin-right: 1%;
                }
                div {
                    img {
                        position: relative;
                        width: 100%;
                        margin: 0 0.5em;
                    }
                    .image-small {
                        width: 5em;
                        margin: 0 0.25em;
                    }
                }
                > div > p {
                    text-align: center;
                    > img {
                        max-height: 20em;
                    }
                }
            }
        > .box {
            padding: 1em;
            border: 2px solid #f78729;
            overflow: overlay;
            margin: 1em 0;
            > p {
                font-size: 1em;
            }
            > p > .italics {
                font-weight: bold;
                font-style: italic;
                font-size: 1em;
            }
            ul {
                margin: 0;
            }
        }
        > .quote {
            margin-top: 2em;
            font-style: italic;
            > p > .bold {
                font-weight: bold;
            }
            > .quote_pic {
                display:flex;
                > img {
                    height:7em;
                    margin-right: 1em;
                }
                > .picture > img {
                    height:15em;
                }
                > .quote-text {
                    padding-left:1em;
                }
            }
        }
        > .description {
            background-color: rgb(226, 226, 226);
            padding: 1em;
            width: 300px;
            float: right;
            margin: 2em 0 1em 2em;
            font-size: 0.8em;
        }
        > .learning {
            margin: 2em 0;
            padding: 1em;
            border: #f78729 2px solid;
            background-color: #ffecdd;
            font-weight: bold;
            font-size: 1em;

            > ul {
                font-weight: 400;
                font-size: 1em;
                padding-left: 2em;
                margin: 1em 0;
            }
        }
        .article_text {
            .article_pic {
                float: left;
                margin: 0.25em 1em 0 0;
            }
        }
        .caption-container {
            display: flex;
            justify-content: space-between;
            .striped-border {
                border-top: 1px solid #000;
                flex-grow: 2;
                margin-top: 0.6em;
            }
        }

        > h2 {
            text-align: center;
            border-top: 2px solid #ffcea5;
            padding-top: 0.3em;
        }

        > div, p {
            > img {
                margin: auto;
                width: 100%;
                margin-top: 1em;
            }
        }

        .caption {
            font-size: 0.875em;
            color: color('caption-color');
            margin-bottom: 1em;
            font-style: normal;
        }

        ul {
            margin: 1em 0;
            & + h2 {
                margin-top: 2em;
            }
        }

        ol {
            margin: 1em 0;
        }

        > table.storting {
            margin-top: 1em;
            > tbody > tr {
                > th {
                    background-color: black;
                    color: white;
                    padding: 0.5em;
                }
                > td {
                    background-color: white;
                    border: 1px solid black;
                    padding: 0.5em;
                    > .color_green {
                        color: green;
                    }
                    > .color_red {
                        color: red;
                    }
                }
            }
        }
        > table, th, td {
            border-collapse: collapse;
            border: 1px solid black;
            margin: 2em auto;
            &.pictures_right {
                width: 30em;
                border:none;
                > tbody > tr > td {
                    padding: 0.5em;
                    background-color: white;
                    border: 1px solid black;
                    background-color: white;
                    text-align: right;
                    border: none;
    
                    > img {
                        width: 5em;
                    }
                }
            }
        }


        > table.bckgrnd > tbody > tr > td.background {
                padding: 0.5em;
                background-color: #ffcea5;
        }

        > table.picture > tbody > tr > td {
                padding: 0.5em;
                background-color: white;
                border: 1px solid black;
                background-color: white;

                > img {
                    width: 5em;
                }
        }
        
        > ol > li > table.empty, th, td {
                border-collapse: collapse;
                border: 1px solid black;
                margin: 2em auto;
                padding: 0.5em;
        }
    
        > .portraits {
            > tbody > tr {
                display: flex;
                > td {
                    border:none;
                    margin:0;
                    > img {
                        width: 100%;
                    }
                }
            }
            ul.small {
                margin: 0.5em 0;
            }
        }

        > .paintings {
            display: flex;
            flex-wrap: wrap;
            > div {
                max-width: 18em;
                > img {
                    height: 20em;
                }
            }
        }

        > .school {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            > span {
                width: 15em;
                padding: 1em;
                font-weight: bold;

                &.bahnschrift{
                    color: green;
                }
                &.bodoni{
                    color: red;
                }
                &.bauhaus{
                    color: orange;
                }
                &.cooper{
                    color: blue;
                }
            }
        }
    }

    /*set max character limit in line*/
    p, li, ol {
      max-width: 70ch;
    }
}

@media screen and (min-width: 1600px) {
    .view.view-exercise {
        .description {
            position: fixed;
            top: 6em;
            right: 1em;
        }
    }
}