
.view.view-exercises { 
    a {
        color: black;
        text-decoration: none;
        padding: 0.25rem 0.5rem;
    }
  .container {
      .acoordion-button {
          h2 {
              cursor: pointer;
              border-bottom: 2px solid color('orange');
              transition: all 0.3s ease;
              &:hover {
                  border-color: black;
              }
          }
          &[aria-expanded='true'] {
              h2 {
                  border-color: black;
              }
          }
      }
      margin-top: 3rem;
      .collapse {
          transition: all 0.6s ease;
          position: relative;
          overflow: hidden;
          height: 0;
          .list-of-items {
              transition: all 0.25s ease;
              .items {
                margin: 0 2rem;
            }
          }
          &.show {
              height: auto;
              .list-of-items {
                  margin-top: 1rem;
                  .items {
                      &:first-child {
                        margin-top: 0.5rem;
                      }
                      margin: 0 2rem;
                      .item-link {
                          display: block;
                          width: 100%;
                          color: black;
                          padding: 0.5rem;
                          text-decoration: none;
                          transition: all 0.3s ease;
                          &:hover {
                              background: lighten( color('orange'), 35% );
                          }
                      }
                  }
              }
          }
      }
  }
}

.view.view-exercises { 
  ul {
      margin-top: 3rem;
      > li {
          list-style-type: none;
          margin-top: 1rem;
          > ul {
              margin-top: 1rem;
              display: flex;
              flex-wrap: wrap;
              > li {
                  flex-basis: 15rem;
                  margin: 0.7rem 1rem;
                  margin-top: 0;
                  border: 0.125rem solid color('orange');
                  > a {
                      display: flex;
                      width: 100%;
                      height: 5.5rem;
                      color: black;
                      padding: 0.5rem;
                      align-items: center;
                      text-align: center;
                      justify-content: center;
                      text-decoration: none;
                  }
              }
          }
      }
    }
}