.view.view-homepage {
  padding: 0;
  max-width: $max-width;
  overflow: hidden;

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: calc(100vh - 6rem);
  }
  .menu__item {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10rem;
    background-size: cover;
  }
  .menu__item--link,
  .menu__item--box {
    display: block;
    color: black;
    width: 15rem;
    font-size: 1.25rem;
    text-decoration: none;
  }
  .menu__item--link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    line-height: 2rem;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(-154deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    figure {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(1);
      transition: all 0.25s ease-in-out;
      text {
        animation-direction: alternate;
        transition: all 0.25s ease-in-out;
      }
      & .illustration-2 {
        .figure__line {
        animation-fill-mode: forwards;
        }
      }
    }
    &:hover {
      figure {
        transform: scale(1.05);
        text {
          transform: translateY(-10px);
          animation-direction: alternate;
        }
        & .illustration-1 {
          #cog {
            animation: rotating 0.5s ease-in-out;
            transform-origin: 50% 50%;
            transform-box: fill-box;
            animation-direction: alternate;
          }
        }
        & .illustration-2 {
          .figure__line {
            animation: change-lenght 0.5s ease-in-out;
            transform-origin: 50% 50%;
            transform-box: fill-box;
          }
          .figure__line-2 {
            animation-delay: 0.1s;
          }
          .figure__line-3 {
            animation-delay: 0.2s;
          }
          .figure__line-4 {
            animation-delay: 0;
          }
        }
      }
    }
  }
  @keyframes rotating {
    0% {transform: rotate(0)}
    50% {transform: rotate(22deg) scale(0.8, 0.8)}
    100% {transform: rotate(45deg)}
  }
  @keyframes change-lenght {
    0% {transform: scale(1, 1)}
    50% {transform: scale(0.5, 1)}
    100% {transform: scale(1, 1)}
  }
  

  .menu__item--box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 36px 36px;
    > span { 
      grid-column: 1 / span 2;
      align-self: center;
    }
    > a {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      border-top: 3px solid white;
      &:first-of-type {
        border-right: 3px solid white;
      }
    }
  }

.c-grid {
    margin: 0.25rem 0;
    padding: 0;
    list-style: none;
  }
  
  .c-grid__link {
    display: flex;
    height: 100%;
    min-height: 10rem;
    
    background-size: cover;
    background-position: center;
  }
  
  .c-grid__item:not(.c-grid__item_0) > div {
    height: 100%;
  }
  .c-grid__item.c-grid__item_0 > div {
    height: 50%;
  }
  
  .c-grid__link-title {
    display: inline-block;
    padding: 1rem 0;
    width: 15rem;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: color('orange');
    border: 0.25rem solid #fff;
  }
  
  .c-grid__item_1 {
    .c-grid__link {
      pointer-events: none;
      cursor: default;
      > span {
        background-color: rgba(color('orange'), 0.6);
      }
    }
  }

  /*illustrations*/


  
  
  @media screen and (min-width: 1025px) {
    .menu {
    }
  }

  & + .page-footer {
    margin-top: 0;
  }

}