@import './config.scss';
@import './the-topbar.scss';
@import './homepage.scss';
@import './timeline.scss';
@import './videos.scss';
@import './exercise.scss';
@import './exercises.scss';

.view {
  padding: 0 3rem;
  max-width: calc(#{$max-width} - 6rem);
  min-height: calc(100vh - 19.25rem);
  margin: 0 auto;
}

.c-separator__line {
  margin: 3rem 0;
  height: 0.125rem;
  border: none;
  background: color('orange');
}

.c-section-text {
  margin: 3rem 0;
}

.view-videos > .c-media-text {
  display: flex;
}

/*GENERAL STYLES*/
h1 {
  font-size: 2.375em;
  line-height: 1.2em;
  margin-top: 0.6em;
  margin-bottom: 1.16em;
}

h2 {
  font-size: 1.75em;
  line-height: 1.2em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.1em;
  margin-top: 1.4em;
  margin-bottom: 0.5em;
}
h4 {
  font-size: 1em;
  line-height: 1.375em;
  margin-top: 1.375em;
  margin-bottom: 0em;
}

table {
  border-collapse: collapse;
  margin: 0.5em 0;
  img {
    width: 100%;
  }
}

.small {
  font-size: 0.75em;
}

.bold {
  font-weight: bold;
}

.full-width {
  width: 100%;
}



/*LAYOUT*/

@media screen and (max-width: 900px) {
  .view {
    padding: 0 1em !important;
  }
}