.c-topbar {
    display: flex;
    max-width: $max-width;
    // background: color('orange');
    margin: 0 auto;
    flex-direction: column;
    .c-topbar__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: $max-width;
        margin: auto;
        flex-grow: 2;
        &.js-toggled {
            height: auto;
            .c-topbar__nav {
                display: flex;
                margin-top: 1rem;
                padding: 1rem 0;
                margin-left: auto;
                width: 100%;
                flex-direction: column;
                padding: 1em 0;
                border-top: 1px solid #ccc;
            }
        }
    }
    .c-topbar__breadcrumbs {
        background: black;
        color: white;
        padding: 0.5em 1em;
    }
}

.c-topbar__logo {
    .c-topbar__link {
        display: flex;
        align-items: center;
        line-height: normal;
        text-decoration: none;
        &.nuxt-link-active {
            text-decoration: inherit;
        }
        img {
            width: 33px;
            margin-right: 1em;
        }
        span {
            font-weight: 400;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 700;
            color: #000;
            > span {
                margin-bottom: 0.5rem;
                border-bottom: 0.25rem solid mix(color('orange'), #fff, 50%);
            }
        }
    }
}

.c-topbar__nav {
    align-items: stretch;
    .c-topbar__link {
        font-size: 1.125rem;
        text-decoration: none;
        padding: 0 0.5rem;
        color: #000;
        &--inactive {
            cursor: default;
            pointer-events: none;
            color: mix(color('orange'), #fff, 40%);
        }
        &:last-child {
            border-right: 0;
        }
    }
}

.c-topbar__nav {
display: none;
}

.c-topbar__link.nuxt-link-exact-active {
font-weight: bold;
text-decoration: underline;
}
  
.c-topbar__hamburger {
    display: block;
    margin: auto 1em 1em auto;
    text-align: center;
    width: 1.7em;
    height: auto;
    cursor: pointer;
    .c-topbar__span {
        display: block;
        height: 2px;
        width: 100%;
        margin: 5px 0;
        background-color: #000;
    }
}

.c-topbar__logo--logout {
    .c-topbar__link {
        svg {
            margin-right: 0.5em;
        }
        span {
            font-weight: 400;
        }
    }
}
  
  @media (min-width: 900px) {
    .c-topbar {
        height: 5.625rem;
        flex-wrap: nowrap;
        flex-direction: column;
    }
  
    .c-topbar__logo {
        margin-left: 1.2em;
    }
  
    .c-topbar__hamburger {
      display: none;
      margin: 0 0 0 auto;
    }
  
    .c-topbar__nav {
      display: flex;
      flex-direction: row;
      margin-left: auto;
      padding: 0;
      border: 0;
      width: auto;
      .c-topbar__link {
        border-right: 2px solid;
      }
    }
  }

  @media (max-width: 600px) {
    .c-topbar__logo {
        .c-topbar__link {
            img {
                width: 33px;
            }
        }
    }
  }