.view.view-videos {
    font-size: 1.3em;
    
    .c-media-text__content > p > strong {
        display: inline-block;
        margin-bottom: 0.75rem;  
    }
    .c-media-text__content ul {
        list-style-type: decimal;
    }


    video {
        width: 32rem;
        height: 18rem;
        &[src=""] {
            display: none;
        }
    }

    .c-grid {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
          grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .c-button {
    margin: 1rem;
    line-height: 2rem;
    text-align: center;
    border: 0.125rem solid color('orange');
    cursor: pointer;
        img {
            width: 100%;
            transition: opacity 0.3s ease-in-out;
        }
        &:hover {
            img {
                opacity: 0.85;
            }
        }
    }

    .c-modal-content h2 {
        text-align: center;
    }
    .c-modal-content .c-media-text__content {
        margin-left: 0;
        & > p > strong {
            margin-top: 1rem;
        }
    }

    @media screen and (min-width: 1025px) {
        .c-media-text__content {
            margin-left: 2rem;
        }
    }

}