<template>
  <div>
    <the-topbar :blocks="fake"></the-topbar>
      <section>
        <div>Automatisering 1 {{ $route.params.category }}</div>

        <ul>
          <li v-for="(item, itemId) in structure[$route.params.lang][$route.params.category]" :key="itemId">
            <nuxt-link :to="`${ itemId + 1 }`">
              {{ item.name }}
              {{ item.title }}
            </nuxt-link>
            <!-- <ul>
              <li v-for="child in item.children" :key="child.id">
                {{ child.name }}
                <ul>
                  <li v-for="subchild in child.children" :key="subchild.id">
                    {{ subchild.name }} <br>
                    {{ subchild.link }}
                  </li>
                </ul>
              </li>
            </ul> -->
          </li>
        </ul>

      </section>
    <the-footer></the-footer>
  </div>
</template>

<script>
import { baseUrl, baseNode } from '~/api'
import TheTopbar from '~/components/TheTopbar.vue'
import TheFooter from '~/components/TheFooter.vue'

export default {
    data() {
      return {
        fake: [],

        structure: {
          bm: {
            A1: [
              {
                name: 'Kap 1',
                title: 'Målenøyaktighet og kalibrering',
                children: [
                  {
                    name: '1.1 Aimasjoner',
                    children: [
                      {
                        name: '1.1.1 Tidskonstant dodtid'
                      }
                    ]
                  },
                  {
                    name: '1.2 Datablader',
                    children: [
                      {
                        name: '1.2.1 Kalbevis eks PDF'
                      },
                      {
                        name: '1.2.2 Tecsis Batteri Guide PDF'
                      },
                      {
                        name: '1.2.3 Coromatic Power Guide PDF'
                      },
                      {
                        name: '1.2.4 Coromatic Power UPS PDF'
                      }
                    ]
                  },
                  {
                    name: '1.3 Regneark',
                    children: [
                      {
                        name: '1.3.1 Kalibreringskurve XLS'
                      }
                    ]
                  },
                  {
                    name: '1.4 Løsningsforslag til oppgaver PDF',
                  },
                  {
                    name: '1.5 Elektroniske tester',
                    children: [
                      {
                        name: '1.5.1 Test 1'
                      }
                    ]
                  },
                ]
              },
              {
                name: 'Kap 2',
                title: 'Måle trykk',
                children: [
                  {
                    name: '2.1 Aimasjoner',
                    children: [
                      {
                        name: '2.1.1 Friksjon'
                      },
                      {
                        name: '2.1.2 Hydraulisk jekk'
                      },
                      {
                        name: '2.1.3 Bourdonmanometer HTML'
                      },
                      {
                        name: '2.1.4 Belg HTML'
                      },
                      {
                        name: '2.1.5 Trykkmåler HTML'
                      },
                      {
                        name: '2.1.6 DP celle HTML'
                      },
                      {
                        name: '2.1.7 Piezoresistivt måleelement HTML'
                      },
                      {
                        name: '2.1.8 Absorpsjon HTML'
                      },
                      {
                        name: '2.1.9 Strekklapp HTML'
                      },
                      {
                        name: '2.1.10 Pressostat HTML'
                      },
                      {
                        name: '2.1.11 HART kommunikasjon HTML'
                      },
                      {
                        name: '2.1.12 HART system HTML'
                      },
                    ]
                  },
                  {
                    name: '2.2 Datablader',
                    children: [
                      {
                        name: '2.2.1 Kalbevis eks PDF'
                      },
                      {
                        name: '2.2.2 Tecsis Batteri Guide PDF'
                      },
                      {
                        name: '2.2.3 Coromatic Power Guide PDF'
                      },
                      {
                        name: '2.2.4 Coromatic Power UPS PDF'
                      }
                    ]
                  },
                  {
                    name: '2.3 Regneark',
                    children: [
                      {
                        name: '2.3.1 Kalibreringskurve XLS'
                      }
                    ]
                  },
                  {
                    name: '2.4 Videofilmer',
                    children: [
                      {
                        name: 'Video 1'
                      }
                    ]
                  },
                  {
                    name: '2.5 Elektroniske tester',
                    children: [
                      {
                        name: '2.5.1 Test 1'
                      },
                      {
                        name: '2.5.1 Test 2'
                      },
                      {
                        name: '2.5.1 Test 3'
                      },
                      {
                        name: '2.5.1 Test 4'
                      },
                      {
                        name: '2.5.1 Test 5'
                      },
                      {
                        name: '2.5.1 Test 6'
                      }
                    ]
                  },
                  {
                    name: '2.6 Løsningsforslag til oppgaver PDF',
                  },
                ]
              },
              {
                name: 'Kap 3',
                title: 'Måle nivå',
                children: [
                  {
                    name: '3.1 Aimasjoner',
                    children: [
                      {
                        name: '3.1.1 Animasjoner'
                      },
                      {
                        name: '3.1.2 Hydraulisk jekk'
                      },
                      {
                        name: '3.1.3 Bourdonmanometer HTML'
                      },
                      {
                        name: '3.1.4 Belg HTML'
                      },
                      {
                        name: '3.1.5 Trykkmåler HTML'
                      },
                      {
                        name: '3.1.6 DP celle HTML'
                      },
                      {
                        name: '3.1.7 Piezoresistivt måleelement HTML'
                      },
                      {
                        name: '3.1.8 Absorpsjon HTML'
                      },
                      {
                        name: '3.1.9 Strekklapp HTML'
                      },
                      {
                        name: '2.1.10 Pressostat HTML'
                      },
                      {
                        name: '2.1.11 HART kommunikasjon HTML'
                      },
                      {
                        name: '2.1.12 HART system HTML'
                      },
                    ]
                  },
                  {
                    name: '3.2 Datablader',
                    children: [
                      {
                        name: '3.2.1 Remote Seal PDF'
                      },
                      {
                        name: '3.2.2 Radar E H Micropilot PDF'
                      },
                      {
                        name: '3.2.3 Rosemount 5400 Series PDF'
                      },
                      {
                        name: '3.2.4 Kapasitiv EH Liquicap PDF'
                      },
                      {
                        name: '3.2.5 Vibrasion EH Liquicap PDF'
                      },
                      {
                        name: '3.2.6 Hydrostat EH Deltapilot S PDF'
                      },
                      {
                        name: '3.2.7 Radar Guided EH PDF'
                      },
                      {
                        name: '3.2.8 Rosemount 3051 PDF'
                      },
                      {
                        name: '3.2.9 Rosemount 3051 Varianter PDF'
                      },
                    ]
                  },
                  {
                    name: '3.3 Videofilmer',
                    children: [
                      {
                        name: '3051 Remote Sensors',
                        link: 'https://www.youtube.com/watch?v=SFlHKXRz1PY'
                      },
                      {
                        name: 'Radar flere typer kort',
                        link: 'https://www.youtube.com/watch?v=SFlHKXRz1PY'
                      },
                      {
                        name: 'Capacitive Probes',
                        link: 'https://www.youtube.com/watch?v=SFlHKXRz1PY'
                      },
                      {
                        name: 'Radiometric Measurmement',
                        link: 'https://www.youtube.com/watch?v=SFlHKXRz1PY'
                      },
                      {
                        name: 'Radiometric Measurmement separator',
                        link: 'https://www.youtube.com/watch?v=SFlHKXRz1PY'
                      },
                      {
                        name: 'Liquidhant',
                        link: 'https://www.youtube.com/watch?v=SFlHKXRz1PY'
                      },
                    ]
                  },
                  {
                    name: '3.4 Elektroniske tester',
                    children: [
                      {
                        name: '3.4.1 Test 1 HTML'
                      },
                      {
                        name: '3.4.1 Test 2 HTML'
                      },
                      {
                        name: '3.4.1 Test 3 HTML'
                      },
                    ]
                  },
                  {
                    name: '3.5 Løsningsforslag til oppgaver PDF',
                  },
                ]
              }
            ],
            A2: [

            ]
          }
        }



      }
    },

  components: {
    'the-topbar': TheTopbar,
    'the-footer': TheFooter,
  },
};
</script>
