<template>
  <div v-if="block" class="c-banner" :style="`background-image: url('${imageUrl}');`" :class="isHome ? 'c-banner--big' : 'c-banner--small'">
    <div class="c-banner__gradient"></div>
    <div
      v-if="!isHome"
      class="c-banner__title"
      :class="{'c-banner__title--small': !isHome}"
    >
      {{ block.content.fields.title.text }}
    </div>
    <div
      v-else 
      class="c-banner__box"
    >
      <div class="c-banner__title">
        {{ block.fields.title.text }}
      </div>

      <div class="c-banner__description" v-html="block.fields.description.content"></div>

      <div class="c-banner__nav">
        <base-button :title="'View available jobs'" v-scroll-to="'#jobs'"></base-button>
        <base-link :link="'/about-us'"></base-link>
      </div>
    </div>
  </div>
</template>

<script>
import BaseButton from '~/components/BaseButton'
import BaseLink from '~/components/BaseLink'

export default {
  name: 'Banner',

  components: {
    'base-button': BaseButton,
    'base-link': BaseLink
  },

  computed: {
    imageUrl () {
      if (this.isHome) {
        return this.block.fields.image.url
      }

      return this.block.content.fields.image ? this.block.content.fields.image.url : '/img/job.jpg'
    }
  },

  props: {
    isHome: Boolean,
    block: Object
  }
}
</script>


<style scoped>
  .c-banner {
    background: #f7f7f7;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center center;
  }

  .c-banner__gradient {
    position: absolute;
    background: linear-gradient(245.51deg, rgba(207, 156, 120, 0) -37.32%, rgba(48, 47, 133, 0.58) 66.03%, #2E2D84 114.77%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  .c-banner--big {
    height: 80vh;
  }

  .c-banner--small {
    height: 18em;
  }

  .c-banner__box {
    position: absolute;
    padding: 30px;
    bottom: 0;
    z-index: 2;
  }

  .c-banner__title {
    font-size: 1.6em;
    font-weight: 700;
    color: #fff;
  }

  .c-banner__title--small {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 20px;
  }

  .c-banner__description {
    font-size: 1em;
    font-weight: 500;
    max-width: 500px;
    margin-top: 1em;
    color: #fff;
  }

  .c-banner__nav {
    margin-top: 35px;
  }

  .c-banner__nav .c-button {
    margin-right: 25px;
  }

  @media (min-width: 900px) {
    .c-banner__box {
      left: 50px;
      bottom: 50px;
    }

    .c-banner__title {
      font-size: 2.2em;
    }

    .c-banner__description {
      font-size: 1.1em;
    }
  }
</style>
