<template>
  <div v-if="link" class="c-link">
    <nuxt-link :to="link" class="c-link__item" :class="classes">{{ title }}</nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'BaseLink',

  props: {
    classes: String,
    link: String,
    title: {
      type: String,
      default: 'Read more'
    }
  }
}
</script>


<style scoped>
  .c-link {
    display: inline-block;
  }
</style>

