<template>
  <div class="c-button" :class="classes">
    <slot>
      {{ title }}
    </slot>
  </div>
</template>

<script>
export default {
  name: 'BaseButton',

  props: {
    classes: String,
    title: String
  }
};
</script>
