<template>
  <div class="c-cta">
    <div class="c-cta__text">
      <p>Do not hesitate and</p>
    </div>
    <div class="c-cta__nav">
      <a href="mailto:yourmail@yourdomain.com">
        <base-button :classes="'someclass'" :title="'Do something'"></base-button>
      </a>
    </div>
  </div>
</template>
<script>
import BaseButton from '~/components/BaseButton'

export default {
  name: 'CTA',

  components: {
    'base-button': BaseButton
  }
}
</script>
<style scoped>
.c-cta {
  padding: 60px 15px;
  margin: 15px auto;
  border-top: 1px solid #ccc;
}
.c-cta__text, .c-cta__nav {
  text-align: center;
  margin: 0 auto;
  min-width: 50%;
}
.c-cta__text {
  margin-bottom: 15px;
  font-weight: 700;
}
</style>
