<template>
    <ul class="c-grid">
      <li
        v-for="(block, i) in blocks"
        :class="`c-grid__item c-grid__item_${i} ${classes}`"
        :key="block.id"
      >
        <slot :block="block"></slot>
      </li>
    </ul>
</template>

<script>
export default {
  name: 'Grid',
 
  props: {
    blocks: Array,
    columns: Number,
    classes: String
  },

}
</script>
