<template>
  <div class="c-media-text">
    <div class="c-media-text__media">
      <vue-plyr>
        <video preload="metadata" crossorigin="anonymous" :src="`${media}`" :type='`${type}/${format}`'>
          <track :src="`${captions}`" kind="captions" srclang="nb" label="Bokmal" default>
        </video>
      </vue-plyr>
    </div>
    <div class="c-media-text__content" v-html="content">
    </div>
  </div>
</template>

<script>
export default {
  name: 'MediaText',

  props: {
    media: String,
    type: String,
    format: String,
    content: String,
    captions: String
  },

  mounted() {
  }
}
</script>
