<template>
  <div class="c-section-text">
    <h2 class="c-section-text__title">
      {{ title | formatText }}
    </h2>

    <div class="c-section-text__paragraph" v-html="content"></div>
  </div>
</template>

<script>
export default {
	name: 'SectionText',

	props: {
		title: String,
		content: String
	},

	filters: {
		formatText: function (value) {
			return value.replace('_', ' ')
		}
}
}
</script>