<template>
  <div>
    <hr v-if="type === 'line'" :class="classes" />
  </div>
</template>

<script>
export default {
  name: 'MediaText',

  props: {
    classes: String,
    media: String,
    type: String,
    content: String
  }
}
</script>
