<template>
  <div class="c-back" v-if="scrollPosition > 200">
    <a class="c-back__link" v-scroll-to="'#topbar'"><img class="c-back__img" src="~/assets/icons/Back-to-top.svg" alt="Back to top"/></a>
  </div>
</template>

<script>
export default {
  name: 'TheBackToTop',

  data () {
    return {
      isVisible: false,
      scrollPosition: 0
    }
  },

  mounted () {
    window.addEventListener('scroll', this.checkPosition)
  },

  methods: {
    checkPosition () {
    this.scrollPosition = window.scrollY
    }
  }
}
</script>


<style scoped>
  .c-back {
    position: fixed;
    right: 1.5em;
    bottom: 1.5em;
    cursor: pointer;
  }

  .c-back__link {
    display: block;
  }

  .c-back__img {
    width: 30px;
    height: 30px;
  }
</style>

