<template>
  <footer class="page-footer">
    <div>
      <div class="fbf-logo">
        <div class="fbf-logo-wrapper">
          <a href="https://www.fagbokforlaget.no/" target="_blank"></a>
        </div>
      </div>

      <div class="fbf-social-media">
        <div class="fbf-social-media-wrapper">
          <a class="social-1" href="https://www.facebook.com/Fagbokforlaget" target="_blank"></a>
        </div>

        <div class="fbf-social-media-wrapper">
          <a class="social-2" href="https://twitter.com/Fagbokforlaget" target="_blank"></a>
        </div>

        <div class="fbf-social-media-wrapper">
          <a class="social-3" href="https://www.linkedin.com/company/fagbokforlaget-v&b-as" target="_blank"></a>
        </div>
        <div class="fbf-social-media-wrapper">
          <a class="social-4" href="https://issuu.com/fagbokforlaget" target="_blank"></a>
        </div>
      </div>
      <div class="fbf-privacy">
        <div class="fbf-privacy-wrapper">
          <a href="https://plenum.app.fagbokforlaget.no/bm/"><span class="privacy-icon"></span><span class="privacy-link">Personvern</span></a>
        </div>
      </div>
      <div class="fbf-contact">
        <div class="fbf-contact-wrapper">
          <a href="https://www.fagbokforlaget.no/kontakt" target="_blank"><span class="contact-icon"></span><span class="contact-link">Kontakt
              oss</span></a>
        </div>
      </div>

      <div class="fbf-udir-info">
          <div class="fbf-udir-info-wrapper">
            Støttet av Utdanningsdirektoratet
          </div>  
      </div>

    </div>
  </footer>
</template>

<script>
  export default {
    name: 'TheFooter',
  }
</script>

<style scoped lang="scss">
  .page-footer {
    margin-top: 3rem;
    width: 100%;
	background-color: #2e2d84;
    min-height: 6.5em;
    height: auto;
    float: left;
	> div {
		margin: 0 auto;
		max-width: 1024px;
        .fbf-logo {
            float: left;
            width: 15%;
            margin: 1em 2% 1em 2%;
            .fbf-logo-wrapper {
            background: rgba(0, 0, 0, 0) url("https://portfolio.no/data/2fda1a84-77cd-41bf-bdb7-a14530b62937") no-repeat scroll 0 0 / 100% auto;
            width: 100%;
            padding-bottom: 33%;
            position: relative;
                a { 
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                }
            }
        }
        .fbf-social-media {
            float: left;
            width: 20%;
            min-height: 4.3em;
            margin: 1em 2%;
            .fbf-social-media-wrapper {
                display: inline-block;
                width: 20%;
                padding-bottom: 21%;
                position: relative;
                margin: 1em 1.7% 0.5em;
                    a {
                        background: rgba(0, 0, 0, 0) no-repeat scroll 0 0 / 100% auto;
                        position: absolute;
                        top: 0; bottom: 0; left: 0; right: 0;
                    }
                    .social-1 {
                        background-image: url("https://portfolio.no/data/def9c463-eddd-47e6-b6a3-b96dc3222802");
                    }
                    .social-2 {
                        background-image: url("https://portfolio.no/data/55ad895b-fe7e-4ac3-b8a6-738cc667892f");
                    }
                    .social-3 {
                        background-image: url("https://portfolio.no/data/a62ca3c8-ad84-423e-8055-1e37f7c5fa51");
                    }
                    .social-4 {
                        background-image: url("https://portfolio.no/data/b7364503-07ed-4586-a5a4-6c29a3fed9ca");
                    }
                }
            }
        
        .fbf-contact {
            float: left;
            width: 16%;
            margin: 1.4em 0 1em 0;
            .fbf-contact-wrapper {
                width: 100%;
                margin: 1em 0;
                a {
                    color: white;
                    width: 100%;
                    text-decoration: underline;
                    position: relative;
                    white-space: nowrap;
                    font-size: 1.2em;
                    padding: 7% 0 20% 0;
                    .contact-icon {
                        background: rgba(0, 0, 0, 0) url("https://portfolio.no/data/d53ed31b-962c-49b4-b56c-9e86ee015aa9") no-repeat scroll 0 0 / 100% auto;
                        width: 35%;
                        position: absolute;
                        top: 0; bottom: 0; left: 0; right: 0;
                    }
                    .contact-link {
                        margin: 0 0 0 35%;
                    }
                }
            }
        }
        .fbf-privacy {
            float: left;
            width: 18%;
            margin: 1.4em 0 1em 2%;
            .fbf-privacy-wrapper {
                width: 100%;
                margin: 1em 0;
                a {
                    color: white;
                    width: 100%;
                    text-decoration: underline;
                    position: relative;
                    white-space: nowrap;
                    font-size: 1.2em;
                    padding: 7% 0 20% 0;
                    .privacy-icon {
                        background: rgba(0, 0, 0, 0) url("https://portfolio.no/data/34dab509-2e9d-4231-8e51-c0fe18b7471b") no-repeat scroll 0 0 / 100% auto;
                        width: 35%;
                        position: absolute;
                        top: 0; bottom: 0; left: 0; right: 0;
                    }
                    .privacy-link {
                        margin: 0 0 0 35%;
                    }
                }
            }
        }
        .fbf-udir-info {
            float: left;
            width: 16.5%;
            margin: 1.875em 2% 1em 2%;
            color: #fff;
            text-align: center;
        }

	}
}
@media screen and (max-width: 860px) {
    .page-footer {
        > div {
            .fbf-logo {
                width: 40%;
                margin: 1em 30%;
            }
            .fbf-social-media {
                width: 40%;
                margin: 1em 30%;
            }
            .fbf-contact,
            .fbf-privacy{
                width: 30%;
                margin: 1em 35%;
            }
            .fbf-udir-info {
                width: 30%;
                margin: 1em 35%;
            }
        }
    }
}


</style>