<template>
  <div class="c-heading">
    <h2 class="c-heading__title">
      {{ title }}
    </h2>
  </div>
</template>

<script>
export default {
  name: 'TheHeading',

  props: {
    title: String
  }
}
</script>
