<template>
  <modal
    class="c-modal"
    name="video"
    classes="c-modal--style"
    @before-open="beforeOpen"
    :height="800"
  >
    <div class="c-modal-topbar">
      <div
        class="c-modal-topbar__close"
        tabindex="1"
        @click="$modal.hide('video')"
      >
        <img class="c-modal-topbar__close--icon" src="/icon/close.svg" alt="">
      </div>
    </div>

    <div class="c-modal-content">
      <h2>{{ title }}</h2>
      <media-text
        :media="media"
        :type="mediaType"
        :format="format"
        :captions="captions"
        :content="mediaContent"
      ></media-text>
    </div>
  </modal>
</template>

<script>
import MediaText from '~/components/MediaText.vue'

export default {
  name: 'TheModal',

  data() {
    return {
      content: '',
      title: '',
      media: '',
      format: '',
      captions: '',
      mediaType: '',
      mediaContent: ''
    };
  },

  components: {
    'media-text': MediaText,
  },

  methods: {
    beforeOpen(e) {
      this.content = e.params.content;
      this.title = e.params.title;
      this.media = e.params.media;
      this.format = e.params.format;
      this.captions = e.params.captions;
      this.mediaType = e.params.mediaType;
      this.mediaContent = e.params.mediaContent;
    },
  },
};
</script>

<style>
.c-modal-topbar {
  padding: 8px 10px;
  background: #f78729;
  display: flex;
  justify-content: flex-end;
}

.c-modal--style {
  background: #fff;
  border: 3px solid #f78729!important;
}

.c-modal-content {
  color: #000;
  font-size: 18px;
  padding: 1rem 2rem;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
}

.c-modal-topbar__move,
.c-modal-topbar__close {
  display: inline-block;
  width: 30px;
}

.c-modal-topbar__close {
  cursor: pointer;
}

.c-modal-topbar__move--icon {
  cursor: move;
}

.c-modal-topbar__close--icon {
  width: 30px;
}
</style>
