<template>
  <header class="c-topbar" id="topbar" v-bind:class="{'js-toggled': isToggled}">
    <div class="c-topbar__container">
      <div class="c-topbar__logo">
        <nuxt-link class="c-topbar__link c-topbar__link--strong" to="/bm/">
          <img src="/img/logo.svg">
          <span>Automatiseringsteknikk</span>
        </nuxt-link>
      </div>

      <div class="c-topbar__hamburger" v-on:click="toggleNav">
        <span class="c-topbar__span"></span>
        <span class="c-topbar__span"></span>
        <span class="c-topbar__span"></span>
      </div>

      <div class="c-topbar__nav"  v-bind:class="{'js-toggled': isToggled}">
        <nuxt-link :to="link.url" v-for="link in links" :key="link.id" :class="`c-topbar__link ${link.inactive == true ? 'c-topbar__link--inactive' : ''}`">
          {{link.title}}
        </nuxt-link>
      </div>

        <div class="c-topbar__logo c-topbar__logo--logout">
          <nuxt-link class="c-topbar__link" to="/">
            <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="M6.75864222,11.5909091 L16.0000215,11.5909091 C18.2091605,11.5909091 20.0000215,13.3817701 20.0000215,15.5909091 L20.0000215,19.0909091 L2.75864222,19.0909091 L2.75864222,15.5909091 C2.75864222,13.3817701 4.54950322,11.5909091 6.75864222,11.5909091 Z" id="Rectangle" fill="#FFC121"></path>
              <path d="M9.31031361,1.58870965 C11.2764016,1.58870965 12.8757931,3.16991013 12.8757931,5.11363636 C12.8757931,7.0572583 11.2764016,8.63845879 9.31031361,8.63845879 C7.34433114,8.63845879 5.74493963,7.0572583 5.74493963,5.11363636 C5.74493963,3.16991013 7.34433114,1.58870965 9.31031361,1.58870965 M14.4827801,5.11363636 C14.4827801,2.2939453 12.162444,0 9.31031361,0 C6.45828871,0 4.13795256,2.2939453 4.13795256,5.11363636 C4.13795256,7.93322314 6.45828871,10.2272727 9.31031361,10.2272727 C12.162444,10.2272727 14.4827801,7.93322314 14.4827801,5.11363636 Z" id="Fill-1"></path>
              <path d="M17.6575802,18.4090692 L0.861072354,18.4090692 C0.385545147,18.4090692 2.50466314e-13,18.01983 2.50466314e-13,17.539504 L2.50466314e-13,14.575917 C2.50466314e-13,12.5539605 1.62882599,10.9090692 3.63103448,10.9090692 L5.6216185,10.9090692 C6.0971457,10.9090692 6.48269085,11.298417 6.48269085,11.7786344 C6.48269085,12.2589605 6.0971457,12.6481996 5.6216185,12.6481996 L3.63103448,12.6481996 C2.57848116,12.6481996 1.72214471,13.5129822 1.72214471,14.575917 L1.72214471,16.6699387 L16.7965079,16.6699387 L16.7965079,14.575917 C16.7965079,13.5129822 15.9401714,12.6481996 14.8877257,12.6481996 L12.8970341,12.6481996 C12.4216145,12.6481996 12.0359617,12.2589605 12.0359617,11.7786344 C12.0359617,11.298417 12.4216145,10.9090692 12.8970341,10.9090692 L14.8877257,10.9090692 C16.8898266,10.9090692 18.5186526,12.5539605 18.5186526,14.575917 L18.5186526,17.539504 C18.5186526,18.01983 18.1331074,18.4090692 17.6575802,18.4090692" id="Fill-3"></path>
          </svg>
            <span>Logg utt</span>
          </nuxt-link>
        </div>

    </div>

    <div class="c-topbar__breadcrumbs">
      <span>here go breadcrumbs</span>
    </div>
    
  </header>
</template>

<script>
import BaseButton from '~/components/BaseButton'
import BaseLink from '~/components/BaseLink'

export default {
  name: 'TopBar',

  data() {
    return {
      isToggled: false,
      links: [
        // { title: 'Tidslinje 1814', url: '/bm/tidslinje/1814', inactive: false },
        // { title: 'Tidslinje 1814-1905', url: '/bm/tidslinje/1814-1905', inactive: false },
        // { title: 'Stortinget VR', url: '/bm/vr', inactive: true },
        // { title: 'Filmer', url: '/bm/filmer', inactive: false },
        // { title: 'Oppgaver', url: '/bm/oppgaver', inactive: false },
        { title: 'A1', url: '/bm/A1', inactive: false },
        { title: 'A2', url: '/bm/A2', inactive: false },
      ]
    }
  },


  components: {
    'base-button': BaseButton,
    'base-link': BaseLink
  },
  props: {
    blocks: Array,
  },
  methods: {
    toggleNav: function () {
      this.isToggled = !this.isToggled
    }
  }
}
</script>

<style scoped>
</style>