<template>
  <div>
    <the-topbar></the-topbar>
    <div class="c-error">
      <h1 class="c-error__title">404</h1>
      <nuxt-link to="/" class="c-error__link">go to homepage</nuxt-link>
    </div>
    <the-footer></the-footer>
  </div>
</template>

<script>
import TheTopbar from '~/components/TheTopbar.vue'
import TheFooter from '~/components/TheFooter.vue'

export default {
  components: {
    'the-topbar': TheTopbar,
    'the-footer': TheFooter
  },
}
</script>

<style scoped>
  .c-error {
    margin: 100px auto;
    text-align: center;
  }

  .c-error__title {
    font-size: 75px;
  }

  .c-error__link {
    position: relative;
    top: 20px;
    text-decoration: none;
    font-weight: 700;
    color: #2E2D84;
  }
</style>
