<template>
  <div>
    <the-topbar></the-topbar>
    <section class="view view-homepage">
      <nav>
        <ul class="menu">
          <li v-for="(block) in blocks" :key="block.id" class="menu__item">
            <nuxt-link :to="block[0].url" class="menu__item--link">
              {{block[0].title}}
            </nuxt-link>
          </li>
        </ul>
      </nav>
    </section>
    <the-footer></the-footer>
  </div>
</template>

<BaseHomeCard :card="card" v-for="(card, index) in cards" :key="`card-${index}`"/>

<script>
import { baseUrl, baseNode } from '~/api'
import TheTopbar from '~/components/TheTopbar.vue'
import TheFooter from '~/components/TheFooter.vue'
import Banner from '~/components/Banner.vue'
import Grid from '~/components/Grid.vue'

export default {
  data() {
    return {
      blocks: [
        [{ title: 'A1', url: '/bm/A1/', inactive: true }],
        [{ title: 'A2', url: '/bm/A2/', inactive: true }],
        [{ title: 'Filmer', url: '/bm/filmer/' }],
        [{ title: 'Oppgaver', url: '/bm/oppgaver/', inactive: true }],
      ]
    }
  },
  components: {
    'the-topbar': TheTopbar,
    'the-footer': TheFooter,
    'banner': Banner,
    'grid': Grid
  },
}
</script>