<template>
  <div>
    <the-topbar></the-topbar>
    <section class="view view-homepage">
      <nav>
        <ul class="menu">
          <!-- <li v-for="(block) in blocks" :key="block.id" class="menu__item">
            <nuxt-link :to="block[0].url" class="menu__item--link">
              <span>
              {{block[0].title}}
              </span>
            </nuxt-link>
          </li> -->
          <li class="menu__item">
            <nuxt-link to='/bm/A1/' class="menu__item--link">
            <!-- illustration 1 -->
              <figure>
                <svg 
                    xmlns="http://www.w3.org/2000/svg" class="menu__item--illustration illustration-1" width="366" height="299" viewBox="0 0 366 299" version="1"><defs><circle id="path-1" cx="99" cy="99" r="99"/><pattern id="imgpattern" width="1" height="1"><image width="214" height="212" xlink:href="/img/picture-1.png"/></pattern></defs><g id="Web-Responsive-Bit-Grid" style="fill-rule:evenodd;fill:none;stroke-width:1;stroke:none"><g id="Desktop-1440-+-Homepage-logged"><g id="A1"><g id="hover-effect" transform="translate(-148 -312)translate(0 91)translate(126 197)"><g id="A1-illistration" opacity="0.8"><g transform="translate(81 24)translate(0 0)"><g id="A1" transform="translate(49.485632 46)"><mask id="mask-2" fill="red"><use xlink:href="#path-1"/></mask><use id="Mask" xlink:href="#path-1" fill="url(#imgpattern)"/></g><path d="M0-97.4C54.3-97.4 98.4-53.7 98.4 0 98.4 53.7 54.3 97.4 0 97.4 -54.3 97.4-98.4 53.7-98.4 0 -98.4-53.7-54.3-97.4 0-97.4M107 0C107-58.4 59-106 0-106 -59-106-107-58.4-107 0 -107 58.4-59 106 0 106 59 106 107 58.4 107 0Z" id="Fill-9" transform="translate(149.485632 145)scale(-1 1)" style="fill:#DE6D3F;stroke:#979797"/><g id="dashed-line" fill="#000"><path d="M55.9 266.4C57 266.3 58.2 265.7 58.9 264.7 60.4 262.8 60 260 58.1 258.5 53.3 254.7 48.9 250.6 44.8 246.3 43.2 244.6 40.5 244.5 38.8 246.2 37.1 247.9 37 250.7 38.7 252.4 43 257 47.8 261.4 52.9 265.5 53.8 266.2 54.8 266.5 55.9 266.4M159.4 298.6C170.7 297.7 181.8 295.5 192.5 292 194.8 291.3 196 288.8 195.3 286.4 194.5 284.1 192.1 282.8 189.8 283.6 179.8 286.9 169.3 288.9 158.8 289.8 130.9 291.9 101.4 285.1 75.7 270.4 73.6 269.2 71 270 69.8 272.1 68.6 274.2 69.4 276.9 71.5 278.1 98.6 293.6 129.9 300.9 159.4 298.6" id="Fill-11"/><path d="M38.7-99.9L39.1-108.3C35.7-108.5 32.2-108.5 28.8-108.5L29-100C32.2-100.1 35.5-100 38.7-99.9L38.7-99.9ZM-8.7-97.3C-11.9-97.9-15.2-98.3-18.5-98.7L-17.7-107.6C-14.2-107.3-10.7-106.8-7.3-106.2L-8.7-97.3ZM-58.2-97.3L-59.7-106C-56.3-106.7-52.9-107.2-49.5-107.6L-48.5-98.8C-51.7-98.5-55-97.9-58.2-97.3L-58.2-97.3ZM10.7-93C7.6-94 4.5-94.9 1.3-95.7L3.3-104.2C6.7-103.4 10-102.4 13.3-101.3L10.7-93ZM-78.3-92.1L-81.2-100.3C-77.7-101.4-74.2-102.4-70.6-103.3L-68.3-95C-71.7-94.2-75-93.2-78.3-92.1L-78.3-92.1ZM30.2-85.2C27.2-86.7 24.1-88 21.1-89.3L24.3-97.3C27.5-96 30.8-94.6 33.9-93L30.2-85.2ZM-97-84.4L-101-92C-97.8-93.6-94.6-95.1-91.4-96.4L-88.1-88.6C-91.1-87.3-94.1-85.9-97-84.4L-97-84.4ZM47-74.9C44.1-76.8 41.2-78.6 38.2-80.2L42.7-87.8C45.8-86.1 49-84.2 52-82.2L47-74.9ZM-113.9-74.1L-119-81.2C-116-83.2-113-85.1-109.9-87L-105.3-79.5C-108.2-77.8-111.1-76-113.9-74.1L-113.9-74.1ZM63.2-62.9C60.7-65.2 58.1-67.4 55.4-69.5L60.9-76.6C63.7-74.4 66.5-72 69.2-69.6L63.2-62.9ZM76.9-48.2C74.7-50.8 72.4-53.4 70-55.8L76.5-62C79-59.4 81.4-56.7 83.8-53.9L76.9-48.2ZM89.3-31.9C87.6-34.8 85.7-37.6 83.8-40.4L90.8-45.6C92.8-42.7 94.8-39.6 96.7-36.6L89.3-31.9ZM98.3-13.8C97-16.8 95.6-19.8 94.1-22.7L101.6-26.7C103.2-23.6 104.7-20.4 106.1-17.2L98.3-13.8ZM104.8 6C103.9 2.7 102.9-0.6 101.8-3.9L109.9-6.9C111-3.4 112.1 0.1 113 3.6L104.8 6ZM109.5 25.8C109 22.4 108.5 19 107.8 15.6L116.4 13.8C117.1 17.4 117.7 21.1 118.1 24.7L109.5 25.8ZM119 45.6L110.6 45.5 110.6 43.6C110.6 40.7 110.6 37.8 110.4 35L118.8 34.4C118.9 37.5 119 40.6 119 43.6L119 45.6ZM117.7 67.2L108.7 65.8C109.2 62.6 109.6 59.3 109.9 56L119 56.7C118.7 60.2 118.3 63.7 117.7 67.2L117.7 67.2ZM112.8 87.8L104.4 85.3C105.4 82.2 106.2 79 107 75.8L115.6 77.7C114.8 81.1 113.8 84.5 112.8 87.8L112.8 87.8ZM104.5 108.5L96.7 104.8C98.1 101.8 99.4 98.7 100.6 95.6L108.7 98.7C107.4 102 106 105.3 104.5 108.5L104.5 108.5Z" id="Fill-21" transform="translate(0.485632 0)translate(119 108.5)scale(-1 1)"/><path d="M25 220C29.1 220 32.5 223.1 32.5 227 32.5 230.9 29.1 234 25 234 20.8 234 17.5 230.9 17.5 227 17.5 223.1 20.8 220 25 220" id="Fill-3"/></g><path d="M54.5 224C54.5 216.8 60.1 211 67 211 73.9 211 79.5 216.8 79.5 224 79.5 231.2 73.9 237 67 237 60.1 237 54.5 231.2 54.5 224" id="Fill-13" fill="#FFF"/><path d="M148.7 260C212 260 263.5 208.6 263.5 145.5 263.5 125.3 258.1 105.4 247.9 88L240.5 92.4C249.8 108.4 254.8 126.8 254.8 145.5 254.8 203.9 207.2 251.4 148.7 251.4 124 251.4 100 242.7 81 227L75.5 233.7C96 250.7 122 260 148.7 260" id="Fill-15" fill="#000"/><path d="M244 84C248.7 84 252.5 87.8 252.5 92.5 252.5 97.2 248.7 101 244 101 239.3 101 235.5 97.2 235.5 92.5 235.5 87.8 239.3 84 244 84" id="Fill-17" fill="#000"/><path d="M67.5 217.7C72.1 217.7 75.8 221.4 75.8 226 75.8 230.6 72.1 234.3 67.5 234.3 62.9 234.3 59.2 230.6 59.2 226 59.2 221.4 62.9 217.7 67.5 217.7M67.5 243C76.9 243 84.5 235.4 84.5 226 84.5 216.6 76.9 209 67.5 209 58.1 209 50.5 216.6 50.5 226 50.5 235.4 58.1 243 67.5 243" id="Fill-19" fill="#000"/><path d="M242.9 43L249.5 35.5C248 34.3 246.4 33.2 244.8 32L238.5 39.7C240 40.8 241.4 41.9 242.9 43" id="Fill-23" fill="#000"/><path d="M239.5 17C248.9 17 256.5 24.6 256.5 34 256.5 43.4 248.9 51 239.5 51 230.1 51 222.5 43.4 222.5 34 222.5 24.6 230.1 17 239.5 17" id="Fill-25" fill="#FFF"/><path d="M239.5 22.7C245.8 22.7 251 27.8 251 34 251 40.2 245.8 45.3 239.5 45.3 233.2 45.3 228 40.2 228 34 228 27.8 233.2 22.7 239.5 22.7M239.5 54C250.5 54 259.5 45 259.5 34 259.5 23 250.5 14 239.5 14 228.5 14 219.5 23 219.5 34 219.5 45 228.5 54 239.5 54" id="Fill-27" fill="#000"/><g id="cog"><path d="M210.1 229.6C210.5 218.1 220.5 209 232.3 209.4 244.1 209.9 253.3 219.6 252.9 231.2 252.5 242.8 242.5 251.8 230.7 251.4 218.9 251 209.6 241.2 210.1 229.6" id="Fill-29" fill="#FFF"/><path d="M-13.2 13.5C-5.6 21 6.7 20.9 14.2 13.2 21.7 5.6 21.6-6.7 14-14.2 6.3-21.7-6-21.6-13.5-13.9 -21-6.3-20.9 5.9-13.2 13.5L-13.2 13.5ZM29 17.6C30.7 14.8 32 11.7 32.8 8.6L41.6 5.6C42.1 2.1 42.1-1.4 41.7-4.9L32.9-8.1C32.2-11.2 30.9-14.2 29.3-17.1L33.4-25.5C32.3-26.9 31.2-28.2 29.9-29.5 28.7-30.7 27.4-31.9 26.1-32.9L17.6-29C14.7-30.7 11.7-32 8.6-32.8L5.6-41.7C2.1-42.1-1.4-42.1-4.9-41.7L-8.1-32.9C-11.2-32.2-14.3-31-17.1-29.3L-25.5-33.4C-26.9-32.3-28.2-31.2-29.5-29.9 -30.7-28.7-31.9-27.4-32.9-26.1L-29-17.6C-30.7-14.8-32-11.7-32.8-8.6L-41.6-5.6C-42.1-2.1-42.1 1.4-41.7 4.8L-32.9 8.1C-32.2 11.2-31 14.2-29.3 17.1L-33.4 25.5C-32.3 26.9-31.2 28.2-30 29.4 -28.7 30.7-27.4 31.9-26.1 32.9L-17.6 29C-14.8 30.7-11.7 32-8.6 32.8L-5.6 41.6C-2.1 42.1 1.4 42.1 4.9 41.7L8.1 32.9C11.2 32.1 14.2 31 17.1 29.3L25.5 33.4C26.9 32.3 28.2 31.2 29.5 29.9 30.7 28.7 31.9 27.4 32.9 26.1L29 17.6Z" id="Fill-31" transform="translate(189.485632 188)translate(42 42)scale(-1 1)" style="fill:#DE6D3F;stroke-width:6;stroke:#1A1A1A"/></g><path d="M295.5 118.5C295.5 115.5 297.9 113 301 113 304 113 306.5 115.5 306.5 118.5 306.5 121.5 304 124 301 124 297.9 124 295.5 121.5 295.5 118.5" id="Fill-37" fill="#DE6D3F"/><path d="M273.5 118.5C273.5 115.5 275.9 113 279 113 282 113 284.5 115.5 284.5 118.5 284.5 121.5 282 124 279 124 275.9 124 273.5 121.5 273.5 118.5" id="Fill-39" fill="#000"/><path d="M295.5 135.5C295.5 132.5 297.9 130 301 130 304 130 306.5 132.5 306.5 135.5 306.5 138.5 304 141 301 141 297.9 141 295.5 138.5 295.5 135.5" id="Fill-41" fill="#DE6D3F"/><path d="M273.5 135.5C273.5 132.5 275.9 130 279 130 282 130 284.5 132.5 284.5 135.5 284.5 138.5 282 141 279 141 275.9 141 273.5 138.5 273.5 135.5" id="Fill-43" fill="#000"/><path d="M295.5 156.5C295.5 153.5 297.9 151 301 151 304 151 306.5 153.5 306.5 156.5 306.5 159.5 304 162 301 162 297.9 162 295.5 159.5 295.5 156.5" id="Fill-45" fill="#DE6D3F"/><path d="M273.5 156.5C273.5 153.5 275.9 151 279 151 282 151 284.5 153.5 284.5 156.5 284.5 159.5 282 162 279 162 275.9 162 273.5 159.5 273.5 156.5" id="Fill-47" fill="#000"/><path d="M273.5 174.5C273.5 171.5 275.9 169 279 169 282 169 284.5 171.5 284.5 174.5 284.5 177.5 282 180 279 180 275.9 180 273.5 177.5 273.5 174.5" id="Fill-49" fill="#000"/><path d="M273.5 62.5C273.5 59.5 275.9 57 279 57 282 57 284.5 59.5 284.5 62.5 284.5 65.5 282 68 279 68 275.9 68 273.5 65.5 273.5 62.5" id="Fill-51" fill="#000"/><path d="M295.5 82.5C295.5 79.5 297.9 77 301 77 304 77 306.5 79.5 306.5 82.5 306.5 85.5 304 88 301 88 297.9 88 295.5 85.5 295.5 82.5" id="Fill-53" fill="#DE6D3F"/><path d="M273.5 82.5C273.5 79.5 275.9 77 279 77 282 77 284.5 79.5 284.5 82.5 284.5 85.5 282 88 279 88 275.9 88 273.5 85.5 273.5 82.5" id="Fill-55" fill="#000"/><path d="M295.5 102.5C295.5 99.5 297.9 97 301 97 304 97 306.5 99.5 306.5 102.5 306.5 105.5 304 108 301 108 297.9 108 295.5 105.5 295.5 102.5" id="Fill-57" fill="#DE6D3F"/><path d="M273.5 102.5C273.5 99.5 275.9 97 279 97 282 97 284.5 99.5 284.5 102.5 284.5 105.5 282 108 279 108 275.9 108 273.5 105.5 273.5 102.5" id="Fill-59" fill="#000"/></g></g><text id="illustration__1--text" font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="240" style="fill:#DE6D3F;font-weight:bold"><tspan x="5.3" y="234">  1</tspan></text></g></g></g></g>
                </svg>
              </figure>
              <h3>
                Automatiseringsteknikk
              </h3>
            </nuxt-link>
          </li>
          <li class="menu__item">
            <nuxt-link to='/bm/A1/' class="menu__item--link">
            <!-- illustration 2 -->
              <figure>
                <svg class="menu__item--illustration illustration-2"
                  width="379px" height="280px" viewBox="0 0 379 280" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <ellipse id="path-1" cx="100.833333" cy="101.652913" rx="100.833333" ry="101.05802"></ellipse>
                        <pattern id="imgpattern" x="0" y="0" width="1" height="1">
                          <image width="214" height="212"
                              xlink:href="/img/picture-2.png"/>
                        </pattern>
                    </defs>
                    <g id="Web-Responsive-Bit-Grid" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Desktop-1440-+-Homepage-logged" transform="translate(-814.000000, -312.000000)">
                            <g id="A2" transform="translate(720.000000, 91.000000)">
                                <g id="hover-effect" transform="translate(89.000000, 197.000000)">
                                    <g id="A2-illustration" transform="translate(117.000000, 24.000000)" opacity="0.8">
                                        <g transform="translate(-0.000000, 0.000000)">
                                            <g id="Group" transform="translate(24.724138, 17.000000)">
                                                <g id="A2" transform="translate(1.716312, 21.501706)">
                                                    <mask id="mask-2" fill="white">
                                                        <use xlink:href="#path-1"></use>
                                                    </mask>
                                                    <use id="Mask" fill="url(#imgpattern)" xlink:href="#path-1"></use>
                                                    
                                                </g>
                                                <g id="Group-12">
                                                    <path d="M104.629453,24.4938004 C82.2379146,24.4938004 59.7531508,32.2736252 41.5415993,48.1557729 C1.35802279,83.1989936 -3.00375335,144.609652 31.8182062,185.050903 C66.6378352,225.489809 127.659584,229.875782 167.847822,194.836079 C208.031399,159.794031 212.39434,98.3833728 177.572381,57.9421218 C158.53229,35.8304852 131.649625,24.4938004 104.629453,24.4938004 M104.76463,226.854855 C75.4138267,226.854855 46.2215065,214.545985 25.5371554,190.526333 C-12.2831612,146.600931 -7.54498809,79.9001321 36.0995756,41.8359845 C79.7499659,3.77770064 146.030784,8.54480766 183.852266,52.4678646 C221.673748,96.3932669 216.935575,163.094065 173.287515,201.155867 C153.510945,218.401889 129.082435,226.854855 104.76463,226.854855" id="Fill-2" fill="#19AA5C"></path>
                                                    <g id="Group-3" transform="translate(79.214585, 220.061519) rotate(7.000000) translate(-79.214585, -220.061519) translate(4.555010, 197.699744)" fill="#000000">
                                                        <path d="M84.7133217,44.4767225 C55.2531717,44.4767225 26.0863918,32.9913485 3.67557452,10.6995329 C1.9769256,9.00895458 1.94553621,6.23920539 3.60796661,4.5105676 C5.26918972,2.77824663 7.99644481,2.75369211 9.69388645,4.44304268 C45.5779958,40.1354844 100.190706,45.9094784 142.507225,18.4808584 C144.507695,17.1831523 147.174586,17.779827 148.450686,19.8190794 C149.7292,21.8571041 149.13763,24.5630115 147.133539,25.8631731 C127.853209,38.360193 106.205396,44.4767225 84.7133217,44.4767225" id="Fill-4"></path>
                                                        <polygon id="Fill-6" points="36.9512962 0.43922555 37.1596537 6.57325599 7.03270601 7.57251904 10.2283781 37.6381257 4.14313937 38.282229 0.258944441 1.66551567"></polygon>
                                                    </g>
                                                    <g id="Group-4" transform="translate(122.716312, 0.000000)" fill="#000000">
                                                        <path d="M97.092045,101.488055 C95.0346679,101.488055 93.246,99.9624231 92.9679445,97.8630699 C86.8028233,51.3096492 50.0609437,14.483739 3.61632924,8.31096145 C1.33814344,8.00770853 -0.265933024,5.90952619 0.0366567821,3.62400613 C0.339246588,1.33848608 2.41648472,-0.260909612 4.71453162,0.0353181405 C54.8790146,6.70336973 94.5673478,46.4798489 101.225492,96.7648026 C101.52925,99.0514935 99.9251735,101.149676 97.6458194,101.452929 C97.4588913,101.476346 97.2742998,101.488055 97.092045,101.488055" id="Fill-8"></path>
                                                        <polygon id="Fill-10" points="69.5106383 84.4611988 73.1638497 79.3897485 97.8486742 97.6140917 114.02209 71.3856655 119.283688 74.7103708 99.5796461 106.648464"></polygon>
                                                    </g>
                                                </g>
                                            </g>
                                            <g id="Group-11" transform="translate(150.724138, 148.000000)">
                                                <polygon id="Fill-30-Copy-2" fill="#000000" points="2.58778626 132 110.412214 132 110.412214 126.857143 2.58778626 126.857143"></polygon>
                                                <path d="M5.1392468,126.895653 L107.860753,126.895653 L107.860753,5.10363155 L5.1392468,5.10363155 L5.1392468,126.895653 Z M0,132 L113,132 L113,0 L0,0 L0,132 Z" id="Fill-15-Copy-3" fill="#000000"></path>
                                                <polygon id="Fill-12-Copy-2" fill="#19AA5C" points="2.58778626 129.428571 110.412214 129.428571 110.412214 2.57142857 2.58778626 2.57142857"></polygon>
                                                <polygon id="Fill-14-Copy-2" fill="#FFFFFF" points="9.48854962 121.714286 102.648855 121.714286 102.648855 9.42857143 9.48854962 9.42857143"></polygon>
                                                <path d="M97.4732824,18.4285714 C97.4732824,16.7720334 96.1211058,15.4285714 94.4538225,15.4285714 C92.7872911,15.4285714 91.4351145,16.7720334 91.4351145,18.4285714 C91.4351145,20.0851094 92.7872911,21.4285714 94.4538225,21.4285714 C96.1211058,21.4285714 97.4732824,20.0851094 97.4732824,18.4285714" id="Fill-19-Copy-3" fill="#000000"></path>
                                                <path d="M37.9541985,23.5714286 L75.0458015,23.5714286 L37.9541985,23.5714286 Z" id="Fill-20-Copy-2" fill="#FFFFFF"></path>
                                                <path d="M27.6030534,50.1428571 L68.1450382,50.1428571 L27.6030534,50.1428571 Z" id="Fill-22-Copy-2" fill="#FFFFFF"></path>
                                                <path d="M21.5648855,37.2857143 L90.5725191,37.2857143 L21.5648855,37.2857143 Z" id="Fill-24-Copy-2" fill="#FFFFFF"></path>
                                                <path d="M22.4274809,63.8571429 L68.1450382,63.8571429 L22.4274809,63.8571429 Z" id="Fill-26-Copy-2" fill="#FFFFFF"></path>
                                                <path d="M86.6975207,54.8806511 C84.8960797,54.8806511 83.1733106,55.9092408 82.38732,57.6435833 C81.3165079,60.0018839 82.3778502,62.7858077 84.7518479,63.8484183 C85.9006034,64.363075 87.184121,64.401439 88.3620143,63.9584434 C89.5413645,63.5147238 90.4759576,62.6403141 90.993881,61.4988039 C91.5125329,60.3558461 91.5518688,59.0825955 91.1060613,57.9099598 C90.6595254,56.7387719 89.7795656,55.8100734 88.63081,55.2954167 C88.0028916,55.0138394 87.3458355,54.8806511 86.6975207,54.8806511 M86.6858656,69.4285714 C85.3003659,69.4285714 83.9192369,69.1361364 82.6167797,68.5534378 C80.2027177,67.4720072 78.3568416,65.5212337 77.4193347,63.0601466 C76.4810994,60.5990594 76.5634135,57.9222653 77.6517082,55.5227053 C78.7400029,53.1238692 80.7031584,51.2896354 83.1805951,50.3573177 C85.6551179,49.4264477 88.3503592,49.5082427 90.7651497,50.5896733 C93.1792118,51.671104 95.0258163,53.6218774 95.9633232,56.0822407 C96.9001016,58.5440517 96.818516,61.220122 95.7294928,63.6189581 C94.6411981,66.0185181 92.6780426,67.8527518 90.2020628,68.7843457 C89.0598633,69.2150359 87.8717718,69.4285714 86.6858656,69.4285714" id="Fill-29-Copy-4" fill="#000000"></path>
                                                <g id="Group-10" transform="translate(16.389313, 76.285714)">
                                                    <rect id="Rectangle" fill="#19AA5C" x="1.72519084" y="2.28571429" width="24.7277354" height="11.4285714"></rect>
                                                    <rect id="Rectangle-Copy-9" fill="#19AA5C" x="50.0305344" y="2.28571429" width="24.7277354" height="11.4285714"></rect>
                                                    <rect id="Rectangle" fill="#19AA5C" x="25.302799" y="13.7142857" width="24.7277354" height="22.8571429"></rect>
                                                    <g id="Group-9" stroke="#1A1A1A" stroke-width="5">
                                                        <rect id="Rectangle" x="2.5" y="2.5" width="70.9083969" height="32.7142857"></rect>
                                                        <path d="M3.88167939,13.7604883 L72.889313,13.7604883" id="Line-2" stroke-linecap="square"></path>
                                                        <path d="M33.4591058,18.8571429 L66.6019629,18.8571429" id="Line-2-Copy" stroke-linecap="square" transform="translate(50.030534, 18.857143) rotate(90.000000) translate(-50.030534, -18.857143) "></path>
                                                        <path d="M9.30643402,18.2820792 L42.4492912,19.4322065" id="Line-2-Copy-2" stroke-linecap="square" transform="translate(25.877863, 18.857143) rotate(90.000000) translate(-25.877863, -18.857143) "></path>
                                                    </g>
                                                </g>
                                                <path d="M80.0080678,56.5782354 C78.3443212,60.2457671 79.9883655,64.5586336 83.6785262,66.2118507 C87.3694167,67.8650679 91.7097521,66.2321534 93.3734987,62.5646217 C95.0372453,58.89709 93.3939307,54.5842236 89.7030402,52.9310064 C86.0121498,51.2777893 81.6710846,52.9107038 80.0080678,56.5782354" id="Fill-28-Copy-2" fill="#19AA5C"></path>
                                                <path class="figure__line figure__line-1" d="M37.9876991,23.5714286 L75.8862791,23.5714286" id="Line-3" stroke="#1A1A1A" stroke-width="6" stroke-linecap="round"></path>
                                                <path class="figure__line figure__line-2" d="M28.4991495,50.1428571 L66.3977295,50.1428571" id="Line-3-Copy-2" stroke="#1A1A1A" stroke-width="6" stroke-linecap="round"></path>
                                                <path class="figure__line figure__line-3" d="M21.5983861,63.8571429 L68.1229203,63.8571429" id="Line-3-Copy-3" stroke="#1A1A1A" stroke-width="6" stroke-linecap="round"></path>
                                                <path class="figure__line figure__line-4" d="M21.2821862,37.2857143 L89.7099237,37.2857143" id="Line-3-Copy" stroke="#1A1A1A" stroke-width="6" stroke-linecap="round"></path>
                                            </g>
                                            <g id="Group-5" transform="translate(43.724138, 17.000000) rotate(-90.000000) translate(-43.724138, -17.000000) translate(26.724138, -27.000000)" fill="#000000">
                                                <polygon id="Path" points="27.7582093 87.3943779 33.3320398 87.3943779 33.3320398 79.0644587 27.7582093 79.0644587"></polygon>
                                                <polygon id="Path" points="14.0705884 87.3943779 19.6454856 87.3943779 19.6454856 79.0644587 14.0705884 79.0644587"></polygon>
                                                <polygon id="Path" points="27.7582093 72.8535164 33.3320398 72.8535164 33.3320398 64.5235971 27.7582093 64.5235971"></polygon>
                                                <polygon id="Path" points="14.0705884 72.8535164 19.6454856 72.8535164 19.6454856 64.5235971 14.0705884 64.5235971"></polygon>
                                                <polygon id="Path" points="27.7582093 58.3115814 33.3320398 58.3115814 33.3320398 49.9816621 27.7582093 49.9816621"></polygon>
                                                <polygon id="Path" points="14.0705884 58.3115814 19.6454856 58.3115814 19.6454856 49.9816621 14.0705884 49.9816621"></polygon>
                                                <polygon id="Path" points="14.0705884 25.1497007 19.6454856 25.1497007 19.6454856 16.8197815 14.0705884 16.8197815"></polygon>
                                                <polygon id="Path" points="14.0705884 41.6506695 19.6454856 41.6506695 19.6454856 33.3218237 14.0705884 33.3218237"></polygon>
                                                <polygon id="Path" points="2.77111667e-13 58.3115814 5.57489726 58.3115814 5.57489726 49.9816621 2.77111667e-13 49.9816621"></polygon>
                                                <polygon id="Path" points="2.77111667e-13 41.6506695 5.57489726 41.6506695 5.57489726 33.3218237 2.77111667e-13 33.3218237"></polygon>
                                                <polygon id="Path" points="2.77111667e-13 24.9908311 5.57489726 24.9908311 5.57489726 16.6598384 2.77111667e-13 16.6598384"></polygon>
                                                <polygon id="Path" points="2.77111667e-13 8.33099265 5.57489726 8.33099265 5.57489726 3.37507799e-14 2.77111667e-13 3.37507799e-14"></polygon>
                                            </g>
                                        </g>
                                    </g>
                                    <text id="2" font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="240" font-weight="bold" fill="#19AA5C">
                                        <tspan x="0.28" y="234">2</tspan>
                                    </text>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
              </figure>
              <h3>
                Automatiseringsteknikk
              </h3>
            </nuxt-link>
          </li>
        </ul>
      </nav>
    </section>
    <the-footer></the-footer>
  </div>
</template>

<BaseHomeCard :card="card" v-for="(card, index) in cards" :key="`card-${index}`"/>

<script>
import { baseUrl, baseNode } from '~/api'
import TheTopbar from '~/components/TheTopbar.vue'
import TheFooter from '~/components/TheFooter.vue'
import Banner from '~/components/Banner.vue'
import Grid from '~/components/Grid.vue'

export default {
  data() {
    return {
      blocks: [
        [{ title: 'Automatiseringsteknikk', url: '/bm/A1/', inactive: true }],
        [{ title: 'Automatiseringsteknikk', url: '/bm/A2/', inactive: true }],
      ]
    }
  },
  components: {
    'the-topbar': TheTopbar,
    'the-footer': TheFooter,
    'banner': Banner,
    'grid': Grid
  },
}
</script>